:root {
  --color-background: #ffe3ff;
  --color-logo: #c877e6;
  --color-pink: #d97cb0;
  --color-red-dark: #c22b3a;
  --color-red: #ff3019;

  --color-theme01: #99b8bf;
  --color-theme02: #f2d2b6;
  --color-theme03: #f2e4d8;
  --color-theme04: #f2d8d5;
  --color-theme05: #bf5656;
}

body {
  font-family: Montserrat, sans-serif;
}
