:root {
  --color__background__01: #ffe3ff;
  --color__background__02: #d97cb0;
  --color__font__01: #c22b3a;
  --color__font__02: #ff3019;
  --color__primary__01: #c877e6;

  --color__background__t1: #f2d2b6;
  --color__background__t2: #f2e4d8;
  --color__font__t1: #bf5656;
  --color__font__t2: #99b8bf;
  --color__primary__t1: #f2d8d5;

  --color__font__03: #c22a39;
  --color__primary__03: #fda11c;
  --color__background__03: #ffe9ed;
  --color__background__dark__03: #d97bb0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  padding: 0 6%;
}