body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
.container {
  padding: 0 6%;
}
.App {
  color: #ffabdb;
  overflow-x: hidden;
}
.App h1 {
  font-size: 2.5rem;
  color: #ffabdb;
  display: flex;
  justify-content: center;
}
.App .Home {
  color: #c22a39;
  position: relative;
  white-space: nowrap;
}
.App .Home h1 {
  font-size: 4rem;
  color: #ffabdb;
  text-shadow: 1px 1px 1px black;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  /* iOS */
  transform: translate(-50%, -50%);
}
.App .Home img {
  width: 100%;
  object-fit: cover;
  height: 100vh;
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .App .Home {
    white-space: inherit;
  }
}
.App .Fotos .images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2%;
  padding: 2%;
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .App .Fotos .images {
    grid-template-columns: 1fr;
    gap: 0.5%;
  }
}
.App .Fotos .images img {
  width: 100%;
  object-fit: cover;
  height: 70vh;
  transition: 0.4s;
}
.App .Fotos .images img:hover {
  transform: translateY(-3%);
  transition: 0.4s;
  cursor: pointer;
}
