.logo {
  background-color: #d97cb0;
}
.header {
  color: #c22a39;
  background-color: #ffe9ed;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.75rem 0;
  /* position: absolute; */
}
.header .header__logo {
  height: 6rem;
}
.header .button__mobile {
  display: none;
  align-content: center;
}
.header .button__mobile .hamburguer {
  display: block;
  border-top: 2px solid #c22a39;
  color: #c22a39;
}
.header .button__mobile .hamburguer::after,
.header .button__mobile .hamburguer::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: currentColor;
  margin-top: 5px;
  transition: 0.3s;
  position: relative;
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .header .button__mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 100;
  }
}
.header .menu {
  text-align: center;
  align-self: center;
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .header .menu {
    display: block;
    visibility: hidden;
    position: absolute;
    width: 100%;
    top: 7.5rem;
    background: #ffffff;
    z-index: 1;
    transition: 0.3s;
    height: calc(100vh - 50px);
    transform: translateX(100%);
  }
  .header .menu .menu-list {
    display: flex;
    flex-direction: column;
  }
  .header .menu .menu-list .menu-list__item {
    margin: 5%;
  }
}
.header .menu .menu-list__item {
  font-size: 1.3rem;
  display: inline-block;
  margin: 0 0.7rem;
}
.header .menu .menu-list__item:hover {
  color: #fda11c;
  transform: scale(1.3);
}
.header .menu .menu-list__item .menu-list__link {
  cursor: pointer;
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .header {
    align-items: center;
    justify-content: space-between;
    padding: 3% 4%;
  }
}
.header.active .hamburguer {
  border-top-color: transparent;
}
.header.active .hamburguer::before {
  transform: rotate(135deg);
}
.header.active .hamburguer::after {
  transform: rotate(-135deg);
  top: -7px;
}
.header.active .menu {
  visibility: visible;
  overflow-y: auto;
  transition: 0.3s;
  transform: translateX(-4%);
}
