.logo {
  background-color: #d97cb0;
}
.header {
  color: #c22a39;
  background-color: #ffe9ed;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.75rem 0;
  border-bottom: 1px solid #c22a39;
  /* position: absolute; */
}
.header .header__logo {
  height: 6rem;
}
.header .menu {
  text-align: center;
  align-self: center;
}
.header .menu .menu-list__item {
  font-size: 1.3rem;
  display: inline-block;
  margin: 0 0.7rem;
  transition: all 0.3s ease-in-out;
}
.header .menu .menu-list__item:hover {
  color: #fda11c;
  transform: scale(1.3);
}
.header .menu .menu-list__item .menu-list__link {
  cursor: pointer;
}
