.menu-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.menu-table .menu__title {
  font-size: 2em;
  font-weight: 500;
  color: #ffabdb;
  margin: 1rem;
  text-shadow: 1px 1px 5px #ffabdb;
  text-align: center;
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .menu-table .menu__flavors {
    width: 90%;
    overflow-x: auto;
  }
}
.menu-table .table__head {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  background-color: #c22a39;
  color: #fff;
  margin: inherit;
  border-radius: 10px;
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .menu-table .table__head {
    grid-template-columns: 4fr 3fr 3fr;
  }
}
.menu-table .table__head th {
  width: 3.5rem;
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  padding: 0.5rem;
}
.menu-table .menu__flavors-item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  justify-items: center;
  width: 100%;
  margin: 1rem auto;
}
.menu-table .menu__flavors-item td {
  margin: 0 2rem;
  color: #c22a39;
  font-weight: 500;
}
.menu-table .menu__flavors-item:nth-child(even) {
  background-color: #df9ab1;
  color: #fff;
  border-radius: 10px;
  padding: 0.4rem 0;
}
.menu-table .menu__flavors-item td:first-child {
  justify-self: start;
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .menu-table {
    overflow: auto;
  }
}
