@import "colors.less";
@import "mediaQuery.less";

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  .menu__title {
    font-size: 2em;
    font-weight: 500;
    margin: 1rem;
  }

  .menu__flavors-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    align-items: center;

    width: 100%;

    margin: 1.6rem auto;

    &:first-child {
      background-color: @font-color;
      color: @font-white;

      border-radius: 10px;
    }

    &:nth-child(even) {
      background-color: @background-1;

      border-radius: 10px;
    }

    th {
      width: 3.5rem;

      font-size: 1.2em;
      font-weight: 600;
      text-align: center;

      margin: 0 auto;
      padding: 0.5rem;
    }

    td {
      margin: 0 2rem;
    }
    td:first-child {
      text-align: start;
    }
  }
}
