@import "colors.less";
@import "mediaQuery.less";

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  .menu__title {
    font-size: 2em;
    font-weight: 500;
    color: @font-color;

    margin: 1rem;

    text-shadow: 1px 1px 5px @font-color2;
  }

  .menu__flavors {
    @media @phone {
      width: 90%;
    }
  }
  .table__head {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;

    background-color: @font-color;
    color: @font-white;

    margin: inherit;

    border-radius: 10px;

    @media @phone {
      grid-template-columns: 4fr 3fr 3fr;
    }

    th {
      width: 3.5rem;

      font-size: 1.2em;
      font-weight: 600;
      text-align: center;

      margin: 0 auto;
      padding: 0.5rem;
    }
  }

  .menu__flavors-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;

    justify-items: center;

    width: 100%;

    margin: 1rem auto;

    td {
      margin: 0 2rem;
      color: @font-color;
      font-weight: 500;
    }

    &:nth-child(even) {
      background-color: #df9ab1;
      color: @font-white;

      border-radius: 10px;

      padding: 0.4rem 0;
    }

    td:first-child {
      justify-self: start;
    }
  }
}
