@import "colors.less";
@import "mediaQuery.less";

.menu-table {
  display: grid;
  flex-direction: column;
  align-items: center;

  width: 60%;
  margin: 0 auto;

  overflow: hidden;

  @media @phone {
    width: 100%;
  }

  .menu__title {
    margin: 1rem;
    padding: 2rem 0 0 0;

    // text-shadow: 1px 1px 3px @color__background__03;
    text-align: center;
  }
  h2 {
    color: @font-color3;
    display: flex;
    justify-content: center;

    margin: 1rem auto;
  }
  h3 {
    display: flex;
    justify-content: center;

    margin: 1rem;

    padding: 1rem;

    color: @font-white;
    background-color: @color__background__dark__03;
  }
  .div__flavors {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    color: @font-color;
  }
  .menu__flavors {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 100%;

    @media @phone {
      // overflow-x: auto;
    }
  }

  .title__table{
    width: 5rem;

    margin: 0 0 .5rem 0;

    color: @font-white;
    background-color: @font-color;
  }
  .weight__table {
    display: flex;
    flex-direction: column;

    margin: 0 0 .2rem 0;
    align-items: center;
    

  }

  .value__table {
    display: flex;
    flex-direction: column;

    margin: 0 0 .2rem 0;
  }

  .menu__flavors-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    justify-items: center;

    width: 100%;

    margin: 1rem auto;

    td {
      margin: 0 2rem;
      color: @font-color;
      font-weight: 500;
    }

    td:first-child {
      justify-self: start;
    }
  }
  @media @phone {
    overflow: auto;
  }
}
